<p-growl [(value)]="msgs" life="2000"></p-growl>
<div class="ui-g">
  <div class="ui-g-12">
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input #name type="text" pInputText placeholder="Username">         
      </div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12">
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-birthday-cake"></i></span>
          <input #age type="number" pInputText placeholder="Age">         
      </div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12">
    <button pButton type="button" (click)="addUser(name.value, age.value)" label="Add user"></button>
  </div>
</div>